In [1]:
import pandas as pd
import numpy as np

In [2]:
## 1.csv 파일을 불러온다

In [3]:
actual_sales = pd.read_csv("./dataset/data/pro_actual_sales.csv")
actual_sales.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [4]:
## 2.필요한 컬럼만 추출한다

In [5]:
actual_sales_cul = actual_sales[['regionSeg1','productSeg2','regionSeg2','productSeg3','yearweek','qty']]
actual_sales_cul.head()

  regionSeg1 productSeg2   regionSeg2 productSeg3  yearweek  qty
0        A01        PG05  SALESID0001    ITEM0445    201306    5
1        A01        PG05  SALESID0001    ITEM0445    201307    8
2        A01        PG05  SALESID0001    ITEM0445    201308    7
3        A01        PG05  SALESID0001    ITEM0445    201309    1
4        A01        PG05  SALESID0001    ITEM0445    201310    1

In [6]:
actual_sales_cul2 = actual_sales_cul

In [7]:
groupKey = ['regionSeg1','productSeg2','regionSeg2','productSeg3','yearweek']

In [9]:
groupData = actual_sales_cul2.groupby(groupKey)[["qty"]].mean()
groupData

                                                              qty
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301    1.600000
                                               201302    2.000000
                                               201303    1.000000
                                               201304    2.000000
                                               201305    2.750000
                                               201306    2.000000
                                               201307    2.750000
                                               201308    1.000000
                                               201309    1.500000
                                               201310    1.250000
                                               201311    1.500000
                                               201312    1.000000
                                               201313    1.666667
                                               201314    1.500000
                                               201315    1.000000
                                               201316    3.000000
                                               201317    1.333333
                                               201318    1.000000
                                               201319    1.500000
                                               201320    2.500000
                                               201321    2.500000
                                               201322    2.000000
                                               201323    1.000000
                                               201324    2.000000
                                               201325    2.600000
                                               201326    2.500000
                                               201327    4.200000
                                               201328    3.250000
                                               201329    1.000000
                                               201330    1.000000
...                                                           ...
           PG05        SALESID0001 ITEM0458    201616    3.666667
                                               201617    3.250000
                                               201618    5.400000
                                               201619    5.000000
                                               201620    7.000000
                                               201621    4.500000
                                               201622    3.500000
                                               201623    3.333333
                                               201624    4.000000
                                               201625    1.200000
                                               201626    4.333333
                                               201627    4.333333
                                   ITEM0459    201610    1.000000
                                               201611    1.000000
                                               201612    1.000000
                                               201613    7.500000
                                               201614    1.750000
                                               201615    2.600000
                                               201616    1.500000
                                               201617    3.000000
                                               201618    2.500000
                                               201619    1.800000
                                               201620    3.500000
                                               201621    5.333333
                                               201622    6.500000
                                               201623    4.833333
                                               201624    3.000000
                                               201625    2.800000
                                               201626    3.666667
                                               201627    6.333333

[31851 rows x 1 columns]

In [ ]:
## 컬럼명 변경

In [10]:
groupDataResult = groupData.rename(columns = {'qty': 'qty_mean'})

In [11]:
groupDataResult

                                                         qty_mean
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301    1.600000
                                               201302    2.000000
                                               201303    1.000000
                                               201304    2.000000
                                               201305    2.750000
                                               201306    2.000000
                                               201307    2.750000
                                               201308    1.000000
                                               201309    1.500000
                                               201310    1.250000
                                               201311    1.500000
                                               201312    1.000000
                                               201313    1.666667
                                               201314    1.500000
                                               201315    1.000000
                                               201316    3.000000
                                               201317    1.333333
                                               201318    1.000000
                                               201319    1.500000
                                               201320    2.500000
                                               201321    2.500000
                                               201322    2.000000
                                               201323    1.000000
                                               201324    2.000000
                                               201325    2.600000
                                               201326    2.500000
                                               201327    4.200000
                                               201328    3.250000
                                               201329    1.000000
                                               201330    1.000000
...                                                           ...
           PG05        SALESID0001 ITEM0458    201616    3.666667
                                               201617    3.250000
                                               201618    5.400000
                                               201619    5.000000
                                               201620    7.000000
                                               201621    4.500000
                                               201622    3.500000
                                               201623    3.333333
                                               201624    4.000000
                                               201625    1.200000
                                               201626    4.333333
                                               201627    4.333333
                                   ITEM0459    201610    1.000000
                                               201611    1.000000
                                               201612    1.000000
                                               201613    7.500000
                                               201614    1.750000
                                               201615    2.600000
                                               201616    1.500000
                                               201617    3.000000
                                               201618    2.500000
                                               201619    1.800000
                                               201620    3.500000
                                               201621    5.333333
                                               201622    6.500000
                                               201623    4.833333
                                               201624    3.000000
                                               201625    2.800000
                                               201626    3.666667
                                               201627    6.333333

[31851 rows x 1 columns]

In [12]:
groupDataResult = groupDataResult.reset_index()

In [13]:
groupDataResult

      regionSeg1 productSeg2   regionSeg2 productSeg3  yearweek  qty_mean
0            A01        PG01  SALESID0001    ITEM0001    201301  1.600000
1            A01        PG01  SALESID0001    ITEM0001    201302  2.000000
2            A01        PG01  SALESID0001    ITEM0001    201303  1.000000
3            A01        PG01  SALESID0001    ITEM0001    201304  2.000000
4            A01        PG01  SALESID0001    ITEM0001    201305  2.750000
5            A01        PG01  SALESID0001    ITEM0001    201306  2.000000
6            A01        PG01  SALESID0001    ITEM0001    201307  2.750000
7            A01        PG01  SALESID0001    ITEM0001    201308  1.000000
8            A01        PG01  SALESID0001    ITEM0001    201309  1.500000
9            A01        PG01  SALESID0001    ITEM0001    201310  1.250000
10           A01        PG01  SALESID0001    ITEM0001    201311  1.500000
11           A01        PG01  SALESID0001    ITEM0001    201312  1.000000
12           A01        PG01  SALESID0001    ITEM0001    201313  1.666667
13           A01        PG01  SALESID0001    ITEM0001    201314  1.500000
14           A01        PG01  SALESID0001    ITEM0001    201315  1.000000
15           A01        PG01  SALESID0001    ITEM0001    201316  3.000000
16           A01        PG01  SALESID0001    ITEM0001    201317  1.333333
17           A01        PG01  SALESID0001    ITEM0001    201318  1.000000
18           A01        PG01  SALESID0001    ITEM0001    201319  1.500000
19           A01        PG01  SALESID0001    ITEM0001    201320  2.500000
20           A01        PG01  SALESID0001    ITEM0001    201321  2.500000
21           A01        PG01  SALESID0001    ITEM0001    201322  2.000000
22           A01        PG01  SALESID0001    ITEM0001    201323  1.000000
23           A01        PG01  SALESID0001    ITEM0001    201324  2.000000
24           A01        PG01  SALESID0001    ITEM0001    201325  2.600000
25           A01        PG01  SALESID0001    ITEM0001    201326  2.500000
26           A01        PG01  SALESID0001    ITEM0001    201327  4.200000
27           A01        PG01  SALESID0001    ITEM0001    201328  3.250000
28           A01        PG01  SALESID0001    ITEM0001    201329  1.000000
29           A01        PG01  SALESID0001    ITEM0001    201330  1.000000
...          ...         ...          ...         ...       ...       ...
31821        A01        PG05  SALESID0001    ITEM0458    201616  3.666667
31822        A01        PG05  SALESID0001    ITEM0458    201617  3.250000
31823        A01        PG05  SALESID0001    ITEM0458    201618  5.400000
31824        A01        PG05  SALESID0001    ITEM0458    201619  5.000000
31825        A01        PG05  SALESID0001    ITEM0458    201620  7.000000
31826        A01        PG05  SALESID0001    ITEM0458    201621  4.500000
31827        A01        PG05  SALESID0001    ITEM0458    201622  3.500000
31828        A01        PG05  SALESID0001    ITEM0458    201623  3.333333
31829        A01        PG05  SALESID0001    ITEM0458    201624  4.000000
31830        A01        PG05  SALESID0001    ITEM0458    201625  1.200000
31831        A01        PG05  SALESID0001    ITEM0458    201626  4.333333
31832        A01        PG05  SALESID0001    ITEM0458    201627  4.333333
31833        A01        PG05  SALESID0001    ITEM0459    201610  1.000000
31834        A01        PG05  SALESID0001    ITEM0459    201611  1.000000
31835        A01        PG05  SALESID0001    ITEM0459    201612  1.000000
31836        A01        PG05  SALESID0001    ITEM0459    201613  7.500000
31837        A01        PG05  SALESID0001    ITEM0459    201614  1.750000
31838        A01        PG05  SALESID0001    ITEM0459    201615  2.600000
31839        A01        PG05  SALESID0001    ITEM0459    201616  1.500000
31840        A01        PG05  SALESID0001    ITEM0459    201617  3.000000
31841        A01        PG05  SALESID0001    ITEM0459    201618  2.500000
31842        A01        PG05  SALESID0001    ITEM0459    201619  1.800000
31843        A01        PG05  SALESID0001    ITEM0459    201620  3.500000
31844        A01        PG05  SALESID0001    ITEM0459    201621  5.333333
31845        A01        PG05  SALESID0001    ITEM0459    201622  6.500000
31846        A01        PG05  SALESID0001    ITEM0459    201623  4.833333
31847        A01        PG05  SALESID0001    ITEM0459    201624  3.000000
31848        A01        PG05  SALESID0001    ITEM0459    201625  2.800000
31849        A01        PG05  SALESID0001    ITEM0459    201626  3.666667
31850        A01        PG05  SALESID0001    ITEM0459    201627  6.333333

[31851 rows x 6 columns]

In [ ]:
##데이터 합치기

In [14]:
mergeResult = pd.merge(actual_sales_cul, groupDataResult,\
                      left_on = ["regionSeg1","productSeg2","regionSeg2","productSeg3","yearweek"], right_on =["regionSeg1","productSeg2","regionSeg2","productSeg3","yearweek"])
mergeResult.head()

  regionSeg1 productSeg2   regionSeg2 productSeg3  yearweek  qty  qty_mean
0        A01        PG05  SALESID0001    ITEM0445    201306    5       3.6
1        A01        PG05  SALESID0001    ITEM0445    201306    4       3.6
2        A01        PG05  SALESID0001    ITEM0445    201306    2       3.6
3        A01        PG05  SALESID0001    ITEM0445    201306    4       3.6
4        A01        PG05  SALESID0001    ITEM0445    201306    3       3.6

In [26]:
groupKey = ['regionSeg1','productSeg2','regionSeg2','productSeg3','yearweek']

In [27]:
def groupRolling(oneGroup):

    #groupDataSet = mergeResult.groupby(groupKey)

    #oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[2])

    indexGroupData = oneGroup.reset_index(drop = True)
    indexGroupData["MA"] = indexGroupData["qty"].rolling(window=15, center = True, min_periods=1).mean()

    return indexGroupData

In [28]:
finalResult = mergeResult.groupby(groupKey).apply(groupRolling)

In [29]:
finalResult

                                                          regionSeg1  \
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301   0        A01
                                                        1        A01
                                                        2        A01
                                                        3        A01
                                                        4        A01
                                               201302   0        A01
                                                        1        A01
                                               201303   0        A01
                                                        1        A01
                                                        2        A01
                                               201304   0        A01
                                                        1        A01
                                                        2        A01
                                                        3        A01
                                               201305   0        A01
                                                        1        A01
                                                        2        A01
                                                        3        A01
                                               201306   0        A01
                                               201307   0        A01
                                                        1        A01
                                                        2        A01
                                                        3        A01
                                               201308   0        A01
                                               201309   0        A01
                                                        1        A01
                                               201310   0        A01
                                                        1        A01
                                                        2        A01
                                                        3        A01
...                                                              ...
           PG05        SALESID0001 ITEM0459    201622   4        A01
                                                        5        A01
                                               201623   0        A01
                                                        1        A01
                                                        2        A01
                                                        3        A01
                                                        4        A01
                                                        5        A01
                                               201624   0        A01
                                                        1        A01
                                                        2        A01
                                                        3        A01
                                                        4        A01
                                               201625   0        A01
                                                        1        A01
                                                        2        A01
                                                        3        A01
                                                        4        A01
                                               201626   0        A01
                                                        1        A01
                                                        2        A01
                                                        3        A01
                                                        4        A01
                                                        5        A01
                                               201627   0        A01
                                                        1        A01
                                                        2        A01
                                                        3        A01
                                                        4        A01
                                                        5        A01

                                                          productSeg2  \
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301   0        PG01
                                                        1        PG01
                                                        2        PG01
                                                        3        PG01
                                                        4        PG01
                                               201302   0        PG01
                                                        1        PG01
                                               201303   0        PG01
                                                        1        PG01
                                                        2        PG01
                                               201304   0        PG01
                                                        1        PG01
                                                        2        PG01
                                                        3        PG01
                                               201305   0        PG01
                                                        1        PG01
                                                        2        PG01
                                                        3        PG01
                                               201306   0        PG01
                                               201307   0        PG01
                                                        1        PG01
                                                        2        PG01
                                                        3        PG01
                                               201308   0        PG01
                                               201309   0        PG01
                                                        1        PG01
                                               201310   0        PG01
                                                        1        PG01
                                                        2        PG01
                                                        3        PG01
...                                                               ...
           PG05        SALESID0001 ITEM0459    201622   4        PG05
                                                        5        PG05
                                               201623   0        PG05
                                                        1        PG05
                                                        2        PG05
                                                        3        PG05
                                                        4        PG05
                                                        5        PG05
                                               201624   0        PG05
                                                        1        PG05
                                                        2        PG05
                                                        3        PG05
                                                        4        PG05
                                               201625   0        PG05
                                                        1        PG05
                                                        2        PG05
                                                        3        PG05
                                                        4        PG05
                                               201626   0        PG05
                                                        1        PG05
                                                        2        PG05
                                                        3        PG05
                                                        4        PG05
                                                        5        PG05
                                               201627   0        PG05
                                                        1        PG05
                                                        2        PG05
                                                        3        PG05
                                                        4        PG05
                                                        5        PG05

                                                            regionSeg2  \
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                                        3  SALESID0001
                                                        4  SALESID0001
                                               201302   0  SALESID0001
                                                        1  SALESID0001
                                               201303   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                               201304   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                                        3  SALESID0001
                                               201305   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                                        3  SALESID0001
                                               201306   0  SALESID0001
                                               201307   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                                        3  SALESID0001
                                               201308   0  SALESID0001
                                               201309   0  SALESID0001
                                                        1  SALESID0001
                                               201310   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                                        3  SALESID0001
...                                                                ...
           PG05        SALESID0001 ITEM0459    201622   4  SALESID0001
                                                        5  SALESID0001
                                               201623   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                                        3  SALESID0001
                                                        4  SALESID0001
                                                        5  SALESID0001
                                               201624   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                                        3  SALESID0001
                                                        4  SALESID0001
                                               201625   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                                        3  SALESID0001
                                                        4  SALESID0001
                                               201626   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                                        3  SALESID0001
                                                        4  SALESID0001
                                                        5  SALESID0001
                                               201627   0  SALESID0001
                                                        1  SALESID0001
                                                        2  SALESID0001
                                                        3  SALESID0001
                                                        4  SALESID0001
                                                        5  SALESID0001

                                                          productSeg3  \
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301   0    ITEM0001
                                                        1    ITEM0001
                                                        2    ITEM0001
                                                        3    ITEM0001
                                                        4    ITEM0001
                                               201302   0    ITEM0001
                                                        1    ITEM0001
                                               201303   0    ITEM0001
                                                        1    ITEM0001
                                                        2    ITEM0001
                                               201304   0    ITEM0001
                                                        1    ITEM0001
                                                        2    ITEM0001
                                                        3    ITEM0001
                                               201305   0    ITEM0001
                                                        1    ITEM0001
                                                        2    ITEM0001
                                                        3    ITEM0001
                                               201306   0    ITEM0001
                                               201307   0    ITEM0001
                                                        1    ITEM0001
                                                        2    ITEM0001
                                                        3    ITEM0001
                                               201308   0    ITEM0001
                                               201309   0    ITEM0001
                                                        1    ITEM0001
                                               201310   0    ITEM0001
                                                        1    ITEM0001
                                                        2    ITEM0001
                                                        3    ITEM0001
...                                                               ...
           PG05        SALESID0001 ITEM0459    201622   4    ITEM0459
                                                        5    ITEM0459
                                               201623   0    ITEM0459
                                                        1    ITEM0459
                                                        2    ITEM0459
                                                        3    ITEM0459
                                                        4    ITEM0459
                                                        5    ITEM0459
                                               201624   0    ITEM0459
                                                        1    ITEM0459
                                                        2    ITEM0459
                                                        3    ITEM0459
                                                        4    ITEM0459
                                               201625   0    ITEM0459
                                                        1    ITEM0459
                                                        2    ITEM0459
                                                        3    ITEM0459
                                                        4    ITEM0459
                                               201626   0    ITEM0459
                                                        1    ITEM0459
                                                        2    ITEM0459
                                                        3    ITEM0459
                                                        4    ITEM0459
                                                        5    ITEM0459
                                               201627   0    ITEM0459
                                                        1    ITEM0459
                                                        2    ITEM0459
                                                        3    ITEM0459
                                                        4    ITEM0459
                                                        5    ITEM0459

                                                           yearweek  qty  \
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301   0    201301    1
                                                        1    201301    2
                                                        2    201301    2
                                                        3    201301    2
                                                        4    201301    1
                                               201302   0    201302    1
                                                        1    201302    3
                                               201303   0    201303    1
                                                        1    201303    1
                                                        2    201303    1
                                               201304   0    201304    2
                                                        1    201304    1
                                                        2    201304    2
                                                        3    201304    3
                                               201305   0    201305    1
                                                        1    201305    6
                                                        2    201305    2
                                                        3    201305    2
                                               201306   0    201306    2
                                               201307   0    201307    1
                                                        1    201307    4
                                                        2    201307    1
                                                        3    201307    5
                                               201308   0    201308    1
                                               201309   0    201309    2
                                                        1    201309    1
                                               201310   0    201310    1
                                                        1    201310    1
                                                        2    201310    1
                                                        3    201310    2
...                                                             ...  ...

In [30]:
finalResult2 = finalResult.reset_index(drop=True)

In [31]:
finalResult2

,regionSeg1,productSeg2,regionSeg2,productSeg3,yearweek,qty,qty_mean,MA
0,A01,PG01,SALESID0001,ITEM0001,201301,1,1.600000,1.600000
1,A01,PG01,SALESID0001,ITEM0001,201301,2,1.600000,1.600000
2,A01,PG01,SALESID0001,ITEM0001,201301,2,1.600000,1.600000
3,A01,PG01,SALESID0001,ITEM0001,201301,2,1.600000,1.600000
4,A01,PG01,SALESID0001,ITEM0001,201301,1,1.600000,1.600000
5,A01,PG01,SALESID0001,ITEM0001,201302,1,2.000000,2.000000
6,A01,PG01,SALESID0001,ITEM0001,201302,3,2.000000,2.000000
7,A01,PG01,SALESID0001,ITEM0001,201303,1,1.000000,1.000000
8,A01,PG01,SALESID0001,ITEM0001,201303,1,1.000000,1.000000
9,A01,PG01,SALESID0001,ITEM0001,201303,1,1.000000,1.000000
10,A01,PG01,SALESID0001,ITEM0001,201304,2,2.000000,2.000000
11,A01,PG01,SALESID0001,ITEM0001,201304,1,2.000000,2.000000
12,A01,PG01,SALESID0001,ITEM0001,201304,2,2.000000,2.000000
13,A01,PG01,SALESID0001,ITEM0001,201304,3,2.000000,2.000000
14,A01,PG01,SALESID0001,ITEM0001,201305,1,2.750000,2.750000
15,A01,PG01,SALESID0001,ITEM0001,201305,6,2.750000,2.750000
16,A01,PG01,SALESID0001,ITEM0001,201305,2,2.750000,2.750000
17,A01,PG01,SALESID0001,ITEM0001,201305,2,2.750000,2.750000
18,A01,PG01,SALESID0001,ITEM0001,201306,2,2.000000,2.000000
19,A01,PG01,SALESID0001,ITEM0001,201307,1,2.750000,2.750000
20,A01,PG01,SALESID0001,ITEM0001,201307,4,2.750000,2.750000
21,A01,PG01,SALESID0001,ITEM0001,201307,1,2.750000,2.750000
22,A01,PG01,SALESID0001,ITEM0001,201307,5,2.750000,2.750000
23,A01,PG01,SALESID0001,ITEM0001,201308,1,1.000000,1.000000
24,A01,PG01,SALESID0001,ITEM0001,201309,2,1.500000,1.500000
25,A01,PG01,SALESID0001,ITEM0001,201309,1,1.500000,1.500000
26,A01,PG01,SALESID0001,ITEM0001,201310,1,1.250000,1.250000
27,A01,PG01,SALESID0001,ITEM0001,201310,1,1.250000,1.250000
28,A01,PG01,SALESID0001,ITEM0001,201310,1,1.250000,1.250000
29,A01,PG01,SALESID0001,ITEM0001,201310,2,1.250000,1.250000
...,...,...,...,...,...,...,...,...
140837,A01,PG05,SALESID0001,ITEM0459,201622,2,6.500000,6.500000
140838,A01,PG05,SALESID0001,ITEM0459,201622,13,6.500000,6.500000
140839,A01,PG05,SALESID0001,ITEM0459,201623,1,4.833333,4.833333
140840,A01,PG05,SALESID0001,ITEM0459,201623,3,4.833333,4.833333
140841,A01,PG05,SALESID0001,ITEM0459,201623,15,4.833333,4.833333
140842,A01,PG05,SALESID0001,ITEM0459,201623,2,4.833333,4.833333
140843,A01,PG05,SALESID0001,ITEM0459,201623,5,4.833333,4.833333
140844,A01,PG05,SALESID0001,ITEM0459,201623,3,4.833333,4.833333
140845,A01,PG05,SALESID0001,ITEM0459,201624,2,3.000000,3.000000
140846,A01,PG05,SALESID0001,ITEM0459,201624,3,3.000000,3.000000
140847,A01,PG05,SALESID0001,ITEM0459,201624,7,3.000000,3.000000
140848,A01,PG05,SALESID0001,ITEM0459,201624,2,3.000000,3.000000
140849,A01,PG05,SALESID0001,ITEM0459,201624,1,3.000000,3.000000
140850,A01,PG05,SALESID0001,ITEM0459,201625,1,2.800000,2.800000
140851,A01,PG05,SALESID0001,ITEM0459,201625,4,2.800000,2.800000
140852,A01,PG05,SALESID0001,ITEM0459,201625,1,2.800000,2.800000
140853,A01,PG05,SALESID0001,ITEM0459,201625,4,2.800000,2.800000
140854,A01,PG05,SALESID0001,ITEM0459,201625,4,2.800000,2.800000
140855,A01,PG05,SALESID0001,ITEM0459,201626,2,3.666667,3.666667
140856,A01,PG05,SALESID0001,ITEM0459,201626,3,3.666667,3.666667
140857,A01,PG05,SALESID0001,ITEM0459,201626,9,3.666667,3.666667
140858,A01,PG05,SALESID0001,ITEM0459,201626,2,3.666667,3.666667
140859,A01,PG05,SALESID0001,ITEM0459,201626,2,3.666667,3.666667
140860,A01,PG05,SALESID0001,ITEM0459,201626,4,3.666667,3.666667
140861,A01,PG05,SALESID0001,ITEM0459,201627,5,6.333333,6.333333
140862,A01,PG05,SALESID0001,ITEM0459,201627,1,6.333333,6.333333
140863,A01,PG05,SALESID0001,ITEM0459,201627,24,6.333333,6.333333
140864,A01,PG05,SALESID0001,ITEM0459,201627,1,6.333333,6.333333
140865,A01,PG05,SALESID0001,ITEM0459,201627,2,6.333333,6.333333
140866,A01,PG05,SALESID0001,ITEM0459,201627,5,6.333333,6.333333

In [32]:
finalResult2.to_csv("./q2222.csv")