In [1]:
import pandas as pd
import numpy as np

In [ ]:
## 데이터 불러오기

In [41]:
actual_sales = pd.read_csv("./dataset/data/pro_actual_sales.csv")
actual_sales.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [42]:
## 필요한 컬럼명 추출

In [43]:
actual_sales_cul = actual_sales[['regionSeg1','productSeg2','regionSeg2','productSeg3','yearweek','qty']]
actual_sales_cul.head()

  regionSeg1 productSeg2   regionSeg2 productSeg3  yearweek  qty
0        A01        PG05  SALESID0001    ITEM0445    201306    5
1        A01        PG05  SALESID0001    ITEM0445    201307    8
2        A01        PG05  SALESID0001    ITEM0445    201308    7
3        A01        PG05  SALESID0001    ITEM0445    201309    1
4        A01        PG05  SALESID0001    ITEM0445    201310    1

In [44]:
actual_sales_cul['qtymean'] = actual_sales_cul['qty'].ipynb_checkpoints/

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [45]:
actual_sales_cul

       regionSeg1 productSeg2   regionSeg2 productSeg3  yearweek  qty  qtymean
0             A01        PG05  SALESID0001    ITEM0445    201306    5        5
1             A01        PG05  SALESID0001    ITEM0445    201307    8        8
2             A01        PG05  SALESID0001    ITEM0445    201308    7        7
3             A01        PG05  SALESID0001    ITEM0445    201309    1        1
4             A01        PG05  SALESID0001    ITEM0445    201310    1        1
5             A01        PG05  SALESID0001    ITEM0445    201311    1        1
6             A01        PG05  SALESID0001    ITEM0445    201312    1        1
7             A01        PG05  SALESID0001    ITEM0445    201313    2        2
8             A01        PG05  SALESID0001    ITEM0445    201314    1        1
9             A01        PG05  SALESID0001    ITEM0445    201315    6        6
10            A01        PG05  SALESID0001    ITEM0445    201316    5        5
11            A01        PG05  SALESID0001    ITEM0445    201317    2        2
12            A01        PG05  SALESID0001    ITEM0445    201318    1        1
13            A01        PG05  SALESID0001    ITEM0445    201319    3        3
14            A01        PG05  SALESID0001    ITEM0445    201320    2        2
15            A01        PG05  SALESID0001    ITEM0445    201321    6        6
16            A01        PG05  SALESID0001    ITEM0445    201322    2        2
17            A01        PG05  SALESID0001    ITEM0445    201323    5        5
18            A01        PG05  SALESID0001    ITEM0445    201324    3        3
19            A01        PG05  SALESID0001    ITEM0445    201325    1        1
20            A01        PG05  SALESID0001    ITEM0445    201326    1        1
21            A01        PG05  SALESID0001    ITEM0445    201327    3        3
22            A01        PG05  SALESID0001    ITEM0445    201328    1        1
23            A01        PG05  SALESID0001    ITEM0445    201330    1        1
24            A01        PG05  SALESID0001    ITEM0445    201332    3        3
25            A01        PG05  SALESID0001    ITEM0445    201333    4        4
26            A01        PG05  SALESID0001    ITEM0445    201334    1        1
27            A01        PG05  SALESID0001    ITEM0445    201335    2        2
28            A01        PG05  SALESID0001    ITEM0445    201336    4        4
29            A01        PG05  SALESID0001    ITEM0445    201338    1        1
...           ...         ...          ...         ...       ...  ...      ...
140837        A01        PG05  SALESID0001    ITEM0033    201616   13       13
140838        A01        PG05  SALESID0001    ITEM0033    201617   18       18
140839        A01        PG05  SALESID0001    ITEM0033    201618    5        5
140840        A01        PG05  SALESID0001    ITEM0033    201619   27       27
140841        A01        PG05  SALESID0001    ITEM0033    201620   12       12
140842        A01        PG05  SALESID0001    ITEM0033    201621   35       35
140843        A01        PG05  SALESID0001    ITEM0033    201622   30       30
140844        A01        PG05  SALESID0001    ITEM0033    201623   15       15
140845        A01        PG05  SALESID0001    ITEM0033    201624    4        4
140846        A01        PG05  SALESID0001    ITEM0033    201625   47       47
140847        A01        PG05  SALESID0001    ITEM0033    201626   89       89
140848        A01        PG05  SALESID0001    ITEM0033    201627   59       59
140849        A01        PG05  SALESID0001    ITEM0034    201608    1        1
140850        A01        PG05  SALESID0001    ITEM0034    201601    1        1
140851        A01        PG05  SALESID0001    ITEM0034    201602    1        1
140852        A01        PG05  SALESID0001    ITEM0034    201604    1        1
140853        A01        PG05  SALESID0001    ITEM0034    201608    1        1
140854        A01        PG05  SALESID0001    ITEM0034    201609    1        1
140855        A01        PG05  SALESID0001    ITEM0034    201601    5        5
140856        A01        PG05  SALESID0001    ITEM0034    201602    1        1
140857        A01        PG05  SALESID0001    ITEM0034    201603    2        2
140858        A01        PG05  SALESID0001    ITEM0034    201604    2        2
140859        A01        PG05  SALESID0001    ITEM0034    201606    1        1
140860        A01        PG05  SALESID0001    ITEM0034    201607    3        3
140861        A01        PG05  SALESID0001    ITEM0034    201610    1        1
140862        A01        PG05  SALESID0001    ITEM0034    201601   13       13
140863        A01        PG05  SALESID0001    ITEM0034    201602    4        4
140864        A01        PG05  SALESID0001    ITEM0034    201607    6        6
140865        A01        PG05  SALESID0001    ITEM0034    201608    1        1
140866        A01        PG05  SALESID0001    ITEM0034    201609    8        8

[140867 rows x 7 columns]

In [46]:
## 그룹비이

In [47]:
groupKey = ['regionSeg1','productSeg2','regionSeg2','productSeg3','yearweek']

In [48]:
groupData = actual_sales_cul.groupby(groupKey)[["qtymean"]].mean()
groupData

                                                          qtymean
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301    1.600000
                                               201302    2.000000
                                               201303    1.000000
                                               201304    2.000000
                                               201305    2.750000
                                               201306    2.000000
                                               201307    2.750000
                                               201308    1.000000
                                               201309    1.500000
                                               201310    1.250000
                                               201311    1.500000
                                               201312    1.000000
                                               201313    1.666667
                                               201314    1.500000
                                               201315    1.000000
                                               201316    3.000000
                                               201317    1.333333
                                               201318    1.000000
                                               201319    1.500000
                                               201320    2.500000
                                               201321    2.500000
                                               201322    2.000000
                                               201323    1.000000
                                               201324    2.000000
                                               201325    2.600000
                                               201326    2.500000
                                               201327    4.200000
                                               201328    3.250000
                                               201329    1.000000
                                               201330    1.000000
...                                                           ...
           PG05        SALESID0001 ITEM0458    201616    3.666667
                                               201617    3.250000
                                               201618    5.400000
                                               201619    5.000000
                                               201620    7.000000
                                               201621    4.500000
                                               201622    3.500000
                                               201623    3.333333
                                               201624    4.000000
                                               201625    1.200000
                                               201626    4.333333
                                               201627    4.333333
                                   ITEM0459    201610    1.000000
                                               201611    1.000000
                                               201612    1.000000
                                               201613    7.500000
                                               201614    1.750000
                                               201615    2.600000
                                               201616    1.500000
                                               201617    3.000000
                                               201618    2.500000
                                               201619    1.800000
                                               201620    3.500000
                                               201621    5.333333
                                               201622    6.500000
                                               201623    4.833333
                                               201624    3.000000
                                               201625    2.800000
                                               201626    3.666667
                                               201627    6.333333

[31851 rows x 1 columns]

In [49]:
groupData2 = actual_sales_cul.groupby(groupKey)[["qty"]]
groupData2

In [ ]:
## 컬럼명 변경 qty->  qty_mean

In [26]:
groupData = groupData.rename(columns = {'qty': 'qty_mean'})
groupData

                                                         qty_mean
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301    1.600000
                                               201302    2.000000
                                               201303    1.000000
                                               201304    2.000000
                                               201305    2.750000
                                               201306    2.000000
                                               201307    2.750000
                                               201308    1.000000
                                               201309    1.500000
                                               201310    1.250000
                                               201311    1.500000
                                               201312    1.000000
                                               201313    1.666667
                                               201314    1.500000
                                               201315    1.000000
                                               201316    3.000000
                                               201317    1.333333
                                               201318    1.000000
                                               201319    1.500000
                                               201320    2.500000
                                               201321    2.500000
                                               201322    2.000000
                                               201323    1.000000
                                               201324    2.000000
                                               201325    2.600000
                                               201326    2.500000
                                               201327    4.200000
                                               201328    3.250000
                                               201329    1.000000
                                               201330    1.000000
...                                                           ...
           PG05        SALESID0001 ITEM0458    201616    3.666667
                                               201617    3.250000
                                               201618    5.400000
                                               201619    5.000000
                                               201620    7.000000
                                               201621    4.500000
                                               201622    3.500000
                                               201623    3.333333
                                               201624    4.000000
                                               201625    1.200000
                                               201626    4.333333
                                               201627    4.333333
                                   ITEM0459    201610    1.000000
                                               201611    1.000000
                                               201612    1.000000
                                               201613    7.500000
                                               201614    1.750000
                                               201615    2.600000
                                               201616    1.500000
                                               201617    3.000000
                                               201618    2.500000
                                               201619    1.800000
                                               201620    3.500000
                                               201621    5.333333
                                               201622    6.500000
                                               201623    4.833333
                                               201624    3.000000
                                               201625    2.800000
                                               201626    3.666667
                                               201627    6.333333

[31851 rows x 1 columns]

In [ ]:
## 평균

In [27]:
groupData["ma"] = groupData.qty_mean.rolling(window=15, center=True).mean()
groupData

                                                         qty_mean        ma
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301    1.600000       NaN
                                               201302    2.000000       NaN
                                               201303    1.000000       NaN
                                               201304    2.000000       NaN
                                               201305    2.750000       NaN
                                               201306    2.000000       NaN
                                               201307    2.750000       NaN
                                               201308    1.000000  1.634444
                                               201309    1.500000  1.727778
                                               201310    1.250000  1.683333
                                               201311    1.500000  1.683333
                                               201312    1.000000  1.650000
                                               201313    1.666667  1.633333
                                               201314    1.500000  1.666667
                                               201315    1.000000  1.616667
                                               201316    3.000000  1.616667
                                               201317    1.333333  1.650000
                                               201318    1.000000  1.740000
                                               201319    1.500000  1.806667
                                               201320    2.500000  2.020000
                                               201321    2.500000  2.125556
                                               201322    2.000000  2.092222
                                               201323    1.000000  2.092222
                                               201324    2.000000  1.958889
                                               201325    2.600000  1.936667
                                               201326    2.500000  1.936667
                                               201327    4.200000  1.903333
                                               201328    3.250000  1.870000
                                               201329    1.000000  2.783333
                                               201330    1.000000  3.290000
...                                                           ...       ...
           PG05        SALESID0001 ITEM0458    201616    3.666667  3.761111
                                               201617    3.250000  3.816667
                                               201618    5.400000  3.696667
                                               201619    5.000000  3.785556
                                               201620    7.000000  3.834444
                                               201621    4.500000  3.734444
                                               201622    3.500000  3.634444
                                               201623    3.333333  3.501111
                                               201624    4.000000  3.756667
                                               201625    1.200000  3.656667
                                               201626    4.333333  3.470000
                                               201627    4.333333  3.236667
                                   ITEM0459    201610    1.000000  2.970000
                                               201611    1.000000  2.836667
                                               201612    1.000000  2.723333
                                               201613    7.500000  2.734444
                                               201614    1.750000  2.823333
                                               201615    2.600000  3.176667
                                               201616    1.500000  3.210000
                                               201617    3.000000  3.121111
                                               201618    2.500000  3.241111
                                               201619    1.800000  3.418889
                                               201620    3.500000  3.774444
                                               201621    5.333333       NaN
                                               201622    6.500000       NaN
                                               201623    4.833333       NaN
                                               201624    3.000000       NaN
                                               201625    2.800000       NaN
                                               201626    3.666667       NaN
                                               201627    6.333333       NaN

[31851 rows x 2 columns]

In [28]:
groupData.to_csv("./actual_groupby.csv")

In [29]:
def groupRolling(oneGroup):

    #groupDataSet = mergeResult.groupby(groupKey)

    #oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[2])

    indexGroupData = oneGroup.reset_index(drop = True)
    indexGroupData["MA2"] = indexGroupData["qty_mean"].rolling(window=15, center = True, min_periods=1).mean()

    return indexGroupData

In [30]:
finalResult = groupData.groupby(groupKey).apply(groupRolling)

In [32]:
finalResult

                                                           qty_mean        ma  \
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301   0  1.600000       NaN
                                               201302   0  2.000000       NaN
                                               201303   0  1.000000       NaN
                                               201304   0  2.000000       NaN
                                               201305   0  2.750000       NaN
                                               201306   0  2.000000       NaN
                                               201307   0  2.750000       NaN
                                               201308   0  1.000000  1.634444
                                               201309   0  1.500000  1.727778
                                               201310   0  1.250000  1.683333
                                               201311   0  1.500000  1.683333
                                               201312   0  1.000000  1.650000
                                               201313   0  1.666667  1.633333
                                               201314   0  1.500000  1.666667
                                               201315   0  1.000000  1.616667
                                               201316   0  3.000000  1.616667
                                               201317   0  1.333333  1.650000
                                               201318   0  1.000000  1.740000
                                               201319   0  1.500000  1.806667
                                               201320   0  2.500000  2.020000
                                               201321   0  2.500000  2.125556
                                               201322   0  2.000000  2.092222
                                               201323   0  1.000000  2.092222
                                               201324   0  2.000000  1.958889
                                               201325   0  2.600000  1.936667
                                               201326   0  2.500000  1.936667
                                               201327   0  4.200000  1.903333
                                               201328   0  3.250000  1.870000
                                               201329   0  1.000000  2.783333
                                               201330   0  1.000000  3.290000
...                                                             ...       ...
           PG05        SALESID0001 ITEM0458    201616   0  3.666667  3.761111
                                               201617   0  3.250000  3.816667
                                               201618   0  5.400000  3.696667
                                               201619   0  5.000000  3.785556
                                               201620   0  7.000000  3.834444
                                               201621   0  4.500000  3.734444
                                               201622   0  3.500000  3.634444
                                               201623   0  3.333333  3.501111
                                               201624   0  4.000000  3.756667
                                               201625   0  1.200000  3.656667
                                               201626   0  4.333333  3.470000
                                               201627   0  4.333333  3.236667
                                   ITEM0459    201610   0  1.000000  2.970000
                                               201611   0  1.000000  2.836667
                                               201612   0  1.000000  2.723333
                                               201613   0  7.500000  2.734444
                                               201614   0  1.750000  2.823333
                                               201615   0  2.600000  3.176667
                                               201616   0  1.500000  3.210000
                                               201617   0  3.000000  3.121111
                                               201618   0  2.500000  3.241111
                                               201619   0  1.800000  3.418889
                                               201620   0  3.500000  3.774444
                                               201621   0  5.333333       NaN
                                               201622   0  6.500000       NaN
                                               201623   0  4.833333       NaN
                                               201624   0  3.000000       NaN
                                               201625   0  2.800000       NaN
                                               201626   0  3.666667       NaN
                                               201627   0  6.333333       NaN

                                                                MA2
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301   0  1.600000
                                               201302   0  2.000000
                                               201303   0  1.000000
                                               201304   0  2.000000
                                               201305   0  2.750000
                                               201306   0  2.000000
                                               201307   0  2.750000
                                               201308   0  1.000000
                                               201309   0  1.500000
                                               201310   0  1.250000
                                               201311   0  1.500000
                                               201312   0  1.000000
                                               201313   0  1.666667
                                               201314   0  1.500000
                                               201315   0  1.000000
                                               201316   0  3.000000
                                               201317   0  1.333333
                                               201318   0  1.000000
                                               201319   0  1.500000
                                               201320   0  2.500000
                                               201321   0  2.500000
                                               201322   0  2.000000
                                               201323   0  1.000000
                                               201324   0  2.000000
                                               201325   0  2.600000
                                               201326   0  2.500000
                                               201327   0  4.200000
                                               201328   0  3.250000
                                               201329   0  1.000000
                                               201330   0  1.000000
...                                                             ...
           PG05        SALESID0001 ITEM0458    201616   0  3.666667
                                               201617   0  3.250000
                                               201618   0  5.400000
                                               201619   0  5.000000
                                               201620   0  7.000000
                                               201621   0  4.500000
                                               201622   0  3.500000
                                               201623   0  3.333333
                                               201624   0  4.000000
                                               201625   0  1.200000
                                               201626   0  4.333333
                                               201627   0  4.333333
                                   ITEM0459    201610   0  1.000000
                                               201611   0  1.000000
                                               201612   0  1.000000
                                               201613   0  7.500000
                                               201614   0  1.750000
                                               201615   0  2.600000
                                               201616   0  1.500000
                                               201617   0  3.000000
                                               201618   0  2.500000
                                               201619   0  1.800000
                                               201620   0  3.500000
                                               201621   0  5.333333
                                               201622   0  6.500000
                                               201623   0  4.833333
                                               201624   0  3.000000
                                               201625   0  2.800000
                                               201626   0  3.666667
                                               201627   0  6.333333

[31851 rows x 3 columns]

In [33]:
finalResult.to_csv("./actual_groupby2.csv")

In [ ]:
## 계절성 지수???  final_actual

In [35]:
finalResult['qty'] = actual_sales['qty']

In [36]:
finalResult

                                                           qty_mean        ma  \
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301   0  1.600000       NaN
                                               201302   0  2.000000       NaN
                                               201303   0  1.000000       NaN
                                               201304   0  2.000000       NaN
                                               201305   0  2.750000       NaN
                                               201306   0  2.000000       NaN
                                               201307   0  2.750000       NaN
                                               201308   0  1.000000  1.634444
                                               201309   0  1.500000  1.727778
                                               201310   0  1.250000  1.683333
                                               201311   0  1.500000  1.683333
                                               201312   0  1.000000  1.650000
                                               201313   0  1.666667  1.633333
                                               201314   0  1.500000  1.666667
                                               201315   0  1.000000  1.616667
                                               201316   0  3.000000  1.616667
                                               201317   0  1.333333  1.650000
                                               201318   0  1.000000  1.740000
                                               201319   0  1.500000  1.806667
                                               201320   0  2.500000  2.020000
                                               201321   0  2.500000  2.125556
                                               201322   0  2.000000  2.092222
                                               201323   0  1.000000  2.092222
                                               201324   0  2.000000  1.958889
                                               201325   0  2.600000  1.936667
                                               201326   0  2.500000  1.936667
                                               201327   0  4.200000  1.903333
                                               201328   0  3.250000  1.870000
                                               201329   0  1.000000  2.783333
                                               201330   0  1.000000  3.290000
...                                                             ...       ...
           PG05        SALESID0001 ITEM0458    201616   0  3.666667  3.761111
                                               201617   0  3.250000  3.816667
                                               201618   0  5.400000  3.696667
                                               201619   0  5.000000  3.785556
                                               201620   0  7.000000  3.834444
                                               201621   0  4.500000  3.734444
                                               201622   0  3.500000  3.634444
                                               201623   0  3.333333  3.501111
                                               201624   0  4.000000  3.756667
                                               201625   0  1.200000  3.656667
                                               201626   0  4.333333  3.470000
                                               201627   0  4.333333  3.236667
                                   ITEM0459    201610   0  1.000000  2.970000
                                               201611   0  1.000000  2.836667
                                               201612   0  1.000000  2.723333
                                               201613   0  7.500000  2.734444
                                               201614   0  1.750000  2.823333
                                               201615   0  2.600000  3.176667
                                               201616   0  1.500000  3.210000
                                               201617   0  3.000000  3.121111
                                               201618   0  2.500000  3.241111
                                               201619   0  1.800000  3.418889
                                               201620   0  3.500000  3.774444
                                               201621   0  5.333333       NaN
                                               201622   0  6.500000       NaN
                                               201623   0  4.833333       NaN
                                               201624   0  3.000000       NaN
                                               201625   0  2.800000       NaN
                                               201626   0  3.666667       NaN
                                               201627   0  6.333333       NaN

                                                                MA2  qty
regionSeg1 productSeg2 regionSeg2  productSeg3 yearweek
A01        PG01        SALESID0001 ITEM0001    201301   0  1.600000  NaN
                                               201302   0  2.000000  NaN
                                               201303   0  1.000000  NaN
                                               201304   0  2.000000  NaN
                                               201305   0  2.750000  NaN
                                               201306   0  2.000000  NaN
                                               201307   0  2.750000  NaN
                                               201308   0  1.000000  NaN
                                               201309   0  1.500000  NaN
                                               201310   0  1.250000  NaN
                                               201311   0  1.500000  NaN
                                               201312   0  1.000000  NaN
                                               201313   0  1.666667  NaN
                                               201314   0  1.500000  NaN
                                               201315   0  1.000000  NaN
                                               201316   0  3.000000  NaN
                                               201317   0  1.333333  NaN
                                               201318   0  1.000000  NaN
                                               201319   0  1.500000  NaN
                                               201320   0  2.500000  NaN
                                               201321   0  2.500000  NaN
                                               201322   0  2.000000  NaN
                                               201323   0  1.000000  NaN
                                               201324   0  2.000000  NaN
                                               201325   0  2.600000  NaN
                                               201326   0  2.500000  NaN
                                               201327   0  4.200000  NaN
                                               201328   0  3.250000  NaN
                                               201329   0  1.000000  NaN
                                               201330   0  1.000000  NaN
...                                                             ...  ...
           PG05        SALESID0001 ITEM0458    201616   0  3.666667  NaN
                                               201617   0  3.250000  NaN
                                               201618   0  5.400000  NaN
                                               201619   0  5.000000  NaN
                                               201620   0  7.000000  NaN
                                               201621   0  4.500000  NaN
                                               201622   0  3.500000  NaN
                                               201623   0  3.333333  NaN
                                               201624   0  4.000000  NaN
                                               201625   0  1.200000  NaN
                                               201626   0  4.333333  NaN
                                               201627   0  4.333333  NaN
                                   ITEM0459    201610   0  1.000000  NaN
                                               201611   0  1.000000  NaN
                                               201612   0  1.000000  NaN
                                               201613   0  7.500000  NaN
                                               201614   0  1.750000  NaN
                                               201615   0  2.600000  NaN
                                               201616   0  1.500000  NaN
                                               201617   0  3.000000  NaN
                                               201618   0  2.500000  NaN
                                               201619   0  1.800000  NaN
                                               201620   0  3.500000  NaN
                                               201621   0  5.333333  NaN
                                               201622   0  6.500000  NaN
                                               201623   0  4.833333  NaN
                                               201624   0  3.000000  NaN
                                               201625   0  2.800000  NaN
                                               201626   0  3.666667  NaN
                                               201627   0  6.333333  NaN

[31851 rows x 4 columns]