In [12]:
import pandas as pd
import numpy as np

In [13]:
joinData = pd.read_csv("./joindata1.csv")
joinData.head()

,mata_tin,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn,mem_rit_cd,rit_end_dt,rit_strt_dt,suta_tin,suta_txpr_sex_cd
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2
1,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1
2,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2
3,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2
4,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2

In [14]:
joinData2 = pd.read_csv("./joindata2.csv", encoding = 'ms949')
joinData2.head()

,mata_tin,mate_srcs_cntn,rit_end_dt,rit_strt_dt,suta_tin,txpr_rlt_cd
0,153101000000,납세자관계,99991231,10101,153403000000,22
1,153101000000,납세자관계,99991231,10101,154201000000,22
2,153101000000,납세자관계,99991231,10101,154601000000,30
3,153101000000,납세자관계,99991231,10101,154702000000,22
4,153101000000,납세자관계,99991231,10101,153403000000,32

In [ ]:
joinData["new_sutatim"] = mp.where(joinData[""])