#  데이터 불러오기

In [1]:
import pandas as pd

In [3]:
selloutData = pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [4]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [5]:
selloutData["REGIONID"] = selloutData.REGIONID.astype("str")

In [6]:
selloutData["PRODUCT"] = selloutData.PRODUCT.astype("str")

In [8]:
selloutData["YEARWEEK"] = selloutData.YEARWEEK.astype("str")

In [11]:
selloutData["QTY"] = selloutData.QTY.astype("float")

In [12]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

## 원하는 컬럼 조회하기

In [14]:
selloutData[["REGIONID","PRODUCT"]]

       REGIONID    PRODUCT
0           A60   PRODUCT4
1           A60  PRODUCT59
2           A60  PRODUCT34
3           A60  PRODUCT47
4           A60  PRODUCT56
5           A60  PRODUCT57
6           A60  PRODUCT12
7           A60   PRODUCT1
8           A60  PRODUCT33
9           A60  PRODUCT62
10          A37  PRODUCT58
11          A37  PRODUCT59
12          A37  PRODUCT34
13          A31  PRODUCT58
14          A31  PRODUCT59
15          A31  PRODUCT34
16          A04  PRODUCT58
17          A04  PRODUCT63
18          A04  PRODUCT15
19          A04   PRODUCT4
20          A04  PRODUCT16
21          A04  PRODUCT59
22          A04  PRODUCT34
23          A04  PRODUCT40
24          A04  PRODUCT47
25          A04  PRODUCT60
26          A04  PRODUCT56
27          A04  PRODUCT57
28          A04  PRODUCT12
29          A04   PRODUCT1
...         ...        ...
124628      A16  PRODUCT64
124629      A16  PRODUCT48
124630      A16  PRODUCT49
124631      A16  PRODUCT74
124632      A16  PRODUCT40
124633      A16  PRODUCT47
124634      A16  PRODUCT60
124635      A16  PRODUCT56
124636      A16  PRODUCT12
124637      A16   PRODUCT1
124638      A16  PRODUCT41
124639      A16  PRODUCT51
124640      A16  PRODUCT68
124641      A16  PRODUCT33
124642      A16  PRODUCT14
124643      A10   PRODUCT2
124644      A10  PRODUCT58
124645      A10  PRODUCT63
124646      A10  PRODUCT15
124647      A10   PRODUCT4
124648      A10  PRODUCT16
124649      A10  PRODUCT59
124650      A10  PRODUCT34
124651      A10  PRODUCT40
124652      A10  PRODUCT47
124653      A10  PRODUCT60
124654      A10  PRODUCT56
124655      A10  PRODUCT61
124656      A10  PRODUCT12
124657      A10   PRODUCT1

[124658 rows x 2 columns]

## 이상 데이터 정제하기