In [43]:
inputList = ["11","1234","222","555"]

In [47]:
i=0

In [48]:
inputList(i)

TypeError: 'list' object is not callable

In [2]:
inputList = ["11","1234","222","555"]

def listSum(inputList):
    #inputList = ["11","1234","222","555"]
    i = 0
    sum = 0
    while (i < 4):
        if (type(inputList[i]) == str):
            sum = sum + int(inputList[i])
        elif (type(inputList[i]) == int):
            sum = sum +  inputList[i]    
        i = i+1
    return sum

listSum(inputList)

In [40]:
def List(value):
    i = 0
    while (i < 4):
        if (type(inputList(i)) == str):
            a = int(inputList(i))
        elif (type(inputList(i)) == int):
            b= sum(inputList(i))    
    i = i+1
    return b

In [41]:
List(inputList)

TypeError: 'list' object is not callable

In [20]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine

In [21]:
engine = create_engine('mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo')

In [22]:
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)
selloutData

    regionid productgroup yearweek     volume
0        A01       ST0002   201512   151750.0
1        A01       ST0001   201520   645626.0
2        A01       ST0002   201520   125863.0
3        A01       ST0001   201515   810144.0
4        A01       ST0002   201515   128999.0
5        A01       ST0001   201518   671464.0
6        A01       ST0002   201518   134467.0
7        A01       ST0001   201513   470040.0
8        A01       ST0002   201513   140297.0
9        A01       ST0001   201511   524787.0
10       A01       ST0002   201511   145509.0
11       A01       ST0001   201516   764927.0
12       A01       ST0002   201516   140313.0
13       A01       ST0001   201519   682757.0
14       A01       ST0002   201519   128668.0
15       A01       ST0001   201514   428195.0
16       A01       ST0002   201514   137488.0
17       A01       ST0001   201512   486509.0
18       A01       ST0001   201517   697502.0
19       A01       ST0002   201517   127163.0
20       A01       ST0001   201507   620392.0
21       A01       ST0002   201507   146476.0
22       A01       ST0001   201510   511679.0
23       A01       ST0002   201510   153152.0
24       A01       ST0001   201502   438251.0
25       A01       ST0002   201502   123875.0
26       A01       ST0001   201505   482381.0
27       A01       ST0002   201505   180516.0
28       A01       ST0001   201508   571781.0
29       A01       ST0002   201508   156772.0
..       ...          ...      ...        ...
180      A01       ST0001   201635   732598.0
181      A01       ST0002   201635   229962.0
182      A01       ST0001   201633   748038.0
183      A01       ST0002   201633   201557.0
184      A01       ST0001   201631   832400.0
185      A01       ST0002   201631   179630.0
186      A01       ST0001   201629   809554.0
187      A01       ST0002   201629   163171.0
188      A01       ST0001   201627   798282.0
189      A01       ST0002   201627   188335.0
190      A01       ST0001   201634   711380.0
191      A01       ST0002   201634   181811.0
192      A01       ST0001   201632   774620.0
193      A01       ST0002   201632   215174.0
194      A01       ST0001   201648   873341.0
195      A01       ST0002   201648   711806.0
196      A01       ST0001   201646   630040.0
197      A01       ST0002   201646   441993.0
198      A01       ST0001   201651  1175605.0
199      A01       ST0002   201651   401602.0
200      A01       ST0001   201649   749699.0
201      A01       ST0002   201649   278487.0
202      A01       ST0001   201647  1037853.0
203      A01       ST0002   201647  1663206.0
204      A01       ST0001   201645   585098.0
205      A01       ST0002   201645   192137.0
206      A01       ST0001   201652   813749.0
207      A01       ST0002   201652   208186.0
208      A01       ST0001   201650   786380.0
209      A01       ST0002   201650   320253.0

[210 rows x 4 columns]

In [23]:
selloutData.columns = ['AA','BB','CC','DD']
selloutData

      AA      BB      CC         DD
0    A01  ST0002  201512   151750.0
1    A01  ST0001  201520   645626.0
2    A01  ST0002  201520   125863.0
3    A01  ST0001  201515   810144.0
4    A01  ST0002  201515   128999.0
5    A01  ST0001  201518   671464.0
6    A01  ST0002  201518   134467.0
7    A01  ST0001  201513   470040.0
8    A01  ST0002  201513   140297.0
9    A01  ST0001  201511   524787.0
10   A01  ST0002  201511   145509.0
11   A01  ST0001  201516   764927.0
12   A01  ST0002  201516   140313.0
13   A01  ST0001  201519   682757.0
14   A01  ST0002  201519   128668.0
15   A01  ST0001  201514   428195.0
16   A01  ST0002  201514   137488.0
17   A01  ST0001  201512   486509.0
18   A01  ST0001  201517   697502.0
19   A01  ST0002  201517   127163.0
20   A01  ST0001  201507   620392.0
21   A01  ST0002  201507   146476.0
22   A01  ST0001  201510   511679.0
23   A01  ST0002  201510   153152.0
24   A01  ST0001  201502   438251.0
25   A01  ST0002  201502   123875.0
26   A01  ST0001  201505   482381.0
27   A01  ST0002  201505   180516.0
28   A01  ST0001  201508   571781.0
29   A01  ST0002  201508   156772.0
..   ...     ...     ...        ...
180  A01  ST0001  201635   732598.0
181  A01  ST0002  201635   229962.0
182  A01  ST0001  201633   748038.0
183  A01  ST0002  201633   201557.0
184  A01  ST0001  201631   832400.0
185  A01  ST0002  201631   179630.0
186  A01  ST0001  201629   809554.0
187  A01  ST0002  201629   163171.0
188  A01  ST0001  201627   798282.0
189  A01  ST0002  201627   188335.0
190  A01  ST0001  201634   711380.0
191  A01  ST0002  201634   181811.0
192  A01  ST0001  201632   774620.0
193  A01  ST0002  201632   215174.0
194  A01  ST0001  201648   873341.0
195  A01  ST0002  201648   711806.0
196  A01  ST0001  201646   630040.0
197  A01  ST0002  201646   441993.0
198  A01  ST0001  201651  1175605.0
199  A01  ST0002  201651   401602.0
200  A01  ST0001  201649   749699.0
201  A01  ST0002  201649   278487.0
202  A01  ST0001  201647  1037853.0
203  A01  ST0002  201647  1663206.0
204  A01  ST0001  201645   585098.0
205  A01  ST0002  201645   192137.0
206  A01  ST0001  201652   813749.0
207  A01  ST0002  201652   208186.0
208  A01  ST0001  201650   786380.0
209  A01  ST0002  201650   320253.0

[210 rows x 4 columns]

In [25]:
resultname='kopo_product_volume_임태현'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

In [26]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [27]:
engine_postgres = create_engine('postgresql://postgres:postgres@192.168.110.111:5432/kopo')

In [28]:
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume_임태현', engine)
selloutData.head()

    AA      BB      CC        DD
0  A01  ST0002  201512  151750.0
1  A01  ST0001  201520  645626.0
2  A01  ST0002  201520  125863.0
3  A01  ST0001  201515  810144.0
4  A01  ST0002  201515  128999.0

In [29]:
resultname=' kopo_product_volume_임태현'
selloutData.to_sql(resultname, engine_postgres, if_exists='replace', index=False)