In [1]:
import pandas as pd
import numpy as np
from isoweek import Week
import time
import pymysql
from sqlalchemy import create_engine

## step 1. actual_sales 데이터 불러오기

In [2]:
actualData = pd.read_csv("../dataset/pro_actual_sales.csv")

In [3]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [4]:
actualData.dtypes

regionSeg1      object
productSeg1    float64
productSeg2     object
regionSeg2      object
regionSeg3      object
productSeg3     object
yearweek         int64
year             int64
week             int64
qty              int64
dtype: object

## step 2. 그룹바이 : 빈 주차 생성

### step 2-1. postWeek 함수 생성

In [5]:
def postWeek(inputYW, gapW):

    inpYW = str(inputYW) ## 입력 연도주차 문자열 변환
    inpY=inpYW[0:4] ## 입력 연도 추출
    inpW=inpYW[4: ] ## 입력 주차 추출

    inpGap=int(gapW) ## 입력 갭 인트형 확정

    sumValue = int(inpW) + inpGap ## 입력 갭과 입력 주차의 합

    curryear = int(inpY)
    lastweek = Week.last_week_of_year(curryear).week 
    while (sumValue > lastweek):
        sumValue -= lastweek # gap 주차와 합산된 총 주차 
        curryear += 1 # 다음 년도 생성
        lastweek = Week.last_week_of_year(curryear).week # 늘어난 연도의 마지막 주차 가져오기
        
    if(sumValue < 10):
        lastanswer = str(curryear)+ "0" + str(sumValue)
    else:
        lastanswer = str(curryear) + str(sumValue)
    return lastanswer

### step 2-2. minmaxweek 함수 생성

In [59]:
def minmaxweek(inputdf) :
    inputdf.reset_index(drop = True, inplace = True) # 그룹 단위 데이터 인덱스 재정의
    minweek = min(inputdf['yearweek']) # 그룹의 최소 주차 
    maxweek = 201627  #  그룹의 최대 주차 max(inputdf['yearweek'])
    fullyearweek = []  # 최소주차와 최대주차 사이의 모든 주차가 들어갈 배열 
    i = minweek 
    fullyearweek.append(i) # 최소주차 추가
  
    # fullyearweek에 모든 주차 생성
    while (max(fullyearweek) < maxweek):  # fullyearweek 최대 주차가 그룹의 최대 주차보다 작다면 while문 반복
        inputWeek = int(postWeek(str(max(fullyearweek)),1)) # 입력 주차는 최대 주차의 다음 주차
        fullyearweek.append(inputWeek) 
        
    newyearweekList = list(set(fullyearweek).difference(set(list(inputdf.yearweek.values)))) # inputdf 의 비어있는 주차를 newyearweekList에 추가
   
    for i in range(len(newyearweekList)): # newyearweekList의 길이만큼 for문 반복하여 inputdf의 마지막 행을 추가
        inputdf.loc[len(inputdf)] = list(inputdf.loc[0].values)
        inputdf.loc[len(inputdf)-1,'yearweek'] = newyearweekList[i]
        inputdf.loc[len(inputdf)-1,'year'] = int(newyearweekList[i]/100)
        inputdf.loc[len(inputdf)-1,'week'] = newyearweekList[i]%100
        inputdf.loc[len(inputdf)-1,'qty'] = 0 # 컬럼 값 변경
                           
    inputdf.sort_values('yearweek')
    inputdf.reset_index(drop = True, inplace = True)
    return inputdf

### step 2-3. 생성한 함수 적용

In [60]:
groupKey1 = ['regionSeg1','productSeg2','regionSeg2','regionSeg3','productSeg3']

In [61]:
groupData = actualData.groupby(groupKey1)

In [62]:
eachData = groupData.get_group(list(groupData.groups)[0])  # 그룹 단위 데이터 중 하나를 가져와서 이상 데이터 여부 확인

In [63]:
eachData

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
28546,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1
28547,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1
28548,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3
28549,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2
28550,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201307,2013,7,5
28551,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201310,2013,10,2
28552,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201312,2013,12,1
28553,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201314,2013,14,1
28554,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201315,2013,15,1
28555,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201316,2013,16,4
28556,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201317,2013,17,2
28557,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201319,2013,19,2
28558,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201320,2013,20,3
28559,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201322,2013,22,2
28560,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201323,2013,23,1
28561,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201324,2013,24,2
28562,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201325,2013,25,3
28563,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201326,2013,26,2
28564,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201327,2013,27,6
28565,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201328,2013,28,4
28566,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201330,2013,30,1
67859,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201439,2014,39,1
67860,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201451,2014,51,1
68718,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201538,2015,38,1
68719,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201549,2015,49,2

In [64]:
groupData = actualData.groupby(groupKey1).apply(minmaxweek)

In [65]:
groupData

                                                             regionSeg1  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0         A01
                                                          1         A01
                                                          2         A01
                                                          3         A01
                                                          4         A01
                                                          5         A01
                                                          6         A01
                                                          7         A01
                                                          8         A01
                                                          9         A01
                                                          10        A01
                                                          11        A01
                                                          12        A01
                                                          13        A01
                                                          14        A01
                                                          15        A01
                                                          16        A01
                                                          17        A01
                                                          18        A01
                                                          19        A01
                                                          20        A01
                                                          21        A01
                                                          22        A01
                                                          23        A01
                                                          24        A01
                                                          25        A01
                                                          26        A01
                                                          27        A01
                                                          28        A01
                                                          29        A01
...                                                                 ...
           PG05        SALESID0001 SITEID0007 ITEM0458    20        A01
                                                          21        A01
                                                          22        A01
                                                          23        A01
                                                          24        A01
                                                          25        A01
                                                          26        A01
                                                          27        A01
                                                          28        A01
                                                          29        A01
                                                          30        A01
                                                          31        A01
                                                          32        A01
                                                          33        A01
                                                          34        A01
                                                          35        A01
                                                          36        A01
                                                          37        A01
                                                          38        A01
                                                          39        A01
                                                          40        A01
                                                          41        A01
                                                          42        A01
                                                          43        A01
                                                          44        A01
                                                          45        A01
                                                          46        A01
                                                          47        A01
                                                          48        A01
                                                          49        A01

                                                              productSeg1  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0           NaN
                                                          1           NaN
                                                          2           NaN
                                                          3           NaN
                                                          4           NaN
                                                          5           NaN
                                                          6           NaN
                                                          7           NaN
                                                          8           NaN
                                                          9           NaN
                                                          10          NaN
                                                          11          NaN
                                                          12          NaN
                                                          13          NaN
                                                          14          NaN
                                                          15          NaN
                                                          16          NaN
                                                          17          NaN
                                                          18          NaN
                                                          19          NaN
                                                          20          NaN
                                                          21          NaN
                                                          22          NaN
                                                          23          NaN
                                                          24          NaN
                                                          25          NaN
                                                          26          NaN
                                                          27          NaN
                                                          28          NaN
                                                          29          NaN
...                                                                   ...
           PG05        SALESID0001 SITEID0007 ITEM0458    20          NaN
                                                          21          NaN
                                                          22          NaN
                                                          23          NaN
                                                          24          NaN
                                                          25          NaN
                                                          26          NaN
                                                          27          NaN
                                                          28          NaN
                                                          29          NaN
                                                          30          NaN
                                                          31          NaN
                                                          32          NaN
                                                          33          NaN
                                                          34          NaN
                                                          35          NaN
                                                          36          NaN
                                                          37          NaN
                                                          38          NaN
                                                          39          NaN
                                                          40          NaN
                                                          41          NaN
                                                          42          NaN
                                                          43          NaN
                                                          44          NaN
                                                          45          NaN
                                                          46          NaN
                                                          47          NaN
                                                          48          NaN
                                                          49          NaN

                                                             productSeg2  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0         PG01
                                                          1         PG01
                                                          2         PG01
                                                          3         PG01
                                                          4         PG01
                                                          5         PG01
                                                          6         PG01
                                                          7         PG01
                                                          8         PG01
                                                          9         PG01
                                                          10        PG01
                                                          11        PG01
                                                          12        PG01
                                                          13        PG01
                                                          14        PG01
                                                          15        PG01
                                                          16        PG01
                                                          17        PG01
                                                          18        PG01
                                                          19        PG01
                                                          20        PG01
                                                          21        PG01
                                                          22        PG01
                                                          23        PG01
                                                          24        PG01
                                                          25        PG01
                                                          26        PG01
                                                          27        PG01
                                                          28        PG01
                                                          29        PG01
...                                                                  ...
           PG05        SALESID0001 SITEID0007 ITEM0458    20        PG05
                                                          21        PG05
                                                          22        PG05
                                                          23        PG05
                                                          24        PG05
                                                          25        PG05
                                                          26        PG05
                                                          27        PG05
                                                          28        PG05
                                                          29        PG05
                                                          30        PG05
                                                          31        PG05
                                                          32        PG05
                                                          33        PG05
                                                          34        PG05
                                                          35        PG05
                                                          36        PG05
                                                          37        PG05
                                                          38        PG05
                                                          39        PG05
                                                          40        PG05
                                                          41        PG05
                                                          42        PG05
                                                          43        PG05
                                                          44        PG05
                                                          45        PG05
                                                          46        PG05
                                                          47        PG05
                                                          48        PG05
                                                          49        PG05

                                                               regionSeg2  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0   SALESID0001
                                                          1   SALESID0001
                                                          2   SALESID0001
                                                          3   SALESID0001
                                                          4   SALESID0001
                                                          5   SALESID0001
                                                          6   SALESID0001
                                                          7   SALESID0001
                                                          8   SALESID0001
                                                          9   SALESID0001
                                                          10  SALESID0001
                                                          11  SALESID0001
                                                          12  SALESID0001
                                                          13  SALESID0001
                                                          14  SALESID0001
                                                          15  SALESID0001
                                                          16  SALESID0001
                                                          17  SALESID0001
                                                          18  SALESID0001
                                                          19  SALESID0001
                                                          20  SALESID0001
                                                          21  SALESID0001
                                                          22  SALESID0001
                                                          23  SALESID0001
                                                          24  SALESID0001
                                                          25  SALESID0001
                                                          26  SALESID0001
                                                          27  SALESID0001
                                                          28  SALESID0001
                                                          29  SALESID0001
...                                                                   ...
           PG05        SALESID0001 SITEID0007 ITEM0458    20  SALESID0001
                                                          21  SALESID0001
                                                          22  SALESID0001
                                                          23  SALESID0001
                                                          24  SALESID0001
                                                          25  SALESID0001
                                                          26  SALESID0001
                                                          27  SALESID0001
                                                          28  SALESID0001
                                                          29  SALESID0001
                                                          30  SALESID0001
                                                          31  SALESID0001
                                                          32  SALESID0001
                                                          33  SALESID0001
                                                          34  SALESID0001
                                                          35  SALESID0001
                                                          36  SALESID0001
                                                          37  SALESID0001
                                                          38  SALESID0001
                                                          39  SALESID0001
                                                          40  SALESID0001
                                                          41  SALESID0001
                                                          42  SALESID0001
                                                          43  SALESID0001
                                                          44  SALESID0001
                                                          45  SALESID0001
                                                          46  SALESID0001
                                                          47  SALESID0001
                                                          48  SALESID0001
                                                          49  SALESID0001

                                                              regionSeg3  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0   SITEID0001
                                                          1   SITEID0001
                                                          2   SITEID0001
                                                          3   SITEID0001
                                                          4   SITEID0001
                                                          5   SITEID0001
                                                          6   SITEID0001
                                                          7   SITEID0001
                                                          8   SITEID0001
                                                          9   SITEID0001
                                                          10  SITEID0001
                                                          11  SITEID0001
                                                          12  SITEID0001
                                                          13  SITEID0001
                                                          14  SITEID0001
                                                          15  SITEID0001
                                                          16  SITEID0001
                                                          17  SITEID0001
                                                          18  SITEID0001

In [66]:
sortKey = ['regionSeg1','productSeg2','regionSeg2','regionSeg3','productSeg3','yearweek']

In [67]:
sortedData = groupData.sort_values(sortKey)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg1' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'productSeg2' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg2' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg3' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'productSeg3' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [68]:
sortedData.reset_index(drop=True,inplace=True)

In [69]:
sortedData

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1
1,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201302,2013,2,0
2,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1
3,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3
4,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2
5,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201306,2013,6,0
6,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201307,2013,7,5
7,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201308,2013,8,0
8,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201309,2013,9,0
9,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201310,2013,10,2
10,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201311,2013,11,0
11,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201312,2013,12,1
12,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201313,2013,13,0
13,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201314,2013,14,1
14,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201315,2013,15,1
15,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201316,2013,16,4
16,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201317,2013,17,2
17,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201318,2013,18,0
18,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201319,2013,19,2
19,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201320,2013,20,3
20,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201321,2013,21,0
21,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201322,2013,22,2
22,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201323,2013,23,1
23,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201324,2013,24,2
24,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201325,2013,25,3
25,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201326,2013,26,2
26,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201327,2013,27,6
27,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201328,2013,28,4
28,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201329,2013,29,0
29,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201330,2013,30,1
...,...,...,...,...,...,...,...,...,...,...
300608,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201551,2015,51,0
300609,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201552,2015,52,0
300610,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201553,2015,53,1
300611,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201601,2016,1,0
300612,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201602,2016,2,0
300613,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201603,2016,3,0
300614,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201604,2016,4,0
300615,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201605,2016,5,0
300616,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201606,2016,6,0
300617,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201607,2016,7,0
300618,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201608,2016,8,0
300619,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201609,2016,9,0
300620,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201610,2016,10,0
300621,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201611,2016,11,0
300622,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201612,2016,12,0
300623,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201613,2016,13,0
300624,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201614,2016,14,0
300625,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201615,2016,15,0
300626,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201616,2016,16,0
300627,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201617,2016,17,0
300628,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201618,2016,18,0
300629,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201619,2016,19,0
300630,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201620,2016,20,0
300631,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201621,2016,21,0
300632,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201622,2016,22,0
300633,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201623,2016,23,0
300634,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201624,2016,24,0
300635,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201625,2016,25,0
300636,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201626,2016,26,0
300637,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201627,2016,27,0

### step 2-4. 데이터 정제

In [70]:
## week가 52주차 이하인 값들을 뽑아서 actualData에 담기
sortedData = sortedData[sortedData['week'] <= 52]
## 잘 정제 됬는지 확인
sortedData[sortedData['week'] > 52]

Empty DataFrame
Columns: [regionSeg1, productSeg1, productSeg2, regionSeg2, regionSeg3, productSeg3, yearweek, year, week, qty]
Index: []

## step 3 이동평균 구하기

### step 3-1 . 이동평균 함수 생성

In [71]:
def groupRolling(oneGroup):
    indexgroupData = oneGroup.reset_index(drop=True)
    indexgroupData['MA'] = indexgroupData['qty'].rolling(window = 4, center = False, min_periods=1).mean()
    return indexgroupData

In [72]:
groupKey2 = ['regionSeg1','productSeg2','regionSeg3','productSeg3']

In [73]:
MaData = sortedData.groupby(groupKey2).apply(groupRolling)

## step 4  계절성 지수 산출

In [74]:
MaData['seasonality'] = MaData['qty']/MaData['MA']

In [75]:
MaData['seasonality'] = np.where(MaData.MA == 0, 0, MaData['qty']/MaData['MA'])

In [76]:
MaData.head(100)

                                                 regionSeg1  productSeg1  \
regionSeg1 productSeg2 regionSeg3 productSeg3
A01        PG01        SITEID0001 ITEM0001    0         A01          NaN
                                              1         A01          NaN
                                              2         A01          NaN
                                              3         A01          NaN
                                              4         A01          NaN
                                              5         A01          NaN
                                              6         A01          NaN
                                              7         A01          NaN
                                              8         A01          NaN
                                              9         A01          NaN
                                              10        A01          NaN
                                              11        A01          NaN
                                              12        A01          NaN
                                              13        A01          NaN
                                              14        A01          NaN
                                              15        A01          NaN
                                              16        A01          NaN
                                              17        A01          NaN
                                              18        A01          NaN
                                              19        A01          NaN
                                              20        A01          NaN
                                              21        A01          NaN
                                              22        A01          NaN
                                              23        A01          NaN
                                              24        A01          NaN
                                              25        A01          NaN
                                              26        A01          NaN
                                              27        A01          NaN
                                              28        A01          NaN
                                              29        A01          NaN
...                                                     ...          ...
                                              70        A01          NaN
                                              71        A01          NaN
                                              72        A01          NaN
                                              73        A01          NaN
                                              74        A01          NaN
                                              75        A01          NaN
                                              76        A01          NaN
                                              77        A01          NaN
                                              78        A01          NaN
                                              79        A01          NaN
                                              80        A01          NaN
                                              81        A01          NaN
                                              82        A01          NaN
                                              83        A01          NaN
                                              84        A01          NaN
                                              85        A01          NaN
                                              86        A01          NaN
                                              87        A01          NaN
                                              88        A01          NaN
                                              89        A01          NaN
                                              90        A01          NaN
                                              91        A01          NaN
                                              92        A01          NaN
                                              93        A01          NaN
                                              94        A01          NaN
                                              95        A01          NaN
                                              96        A01          NaN
                                              97        A01          NaN
                                              98        A01          NaN
                                              99        A01          NaN

                                                 productSeg2   regionSeg2  \
regionSeg1 productSeg2 regionSeg3 productSeg3
A01        PG01        SITEID0001 ITEM0001    0         PG01  SALESID0001
                                              1         PG01  SALESID0001
                                              2         PG01  SALESID0001
                                              3         PG01  SALESID0001
                                              4         PG01  SALESID0001
                                              5         PG01  SALESID0001
                                              6         PG01  SALESID0001
                                              7         PG01  SALESID0001
                                              8         PG01  SALESID0001
                                              9         PG01  SALESID0001
                                              10        PG01  SALESID0001
                                              11        PG01  SALESID0001
                                              12        PG01  SALESID0001
                                              13        PG01  SALESID0001
                                              14        PG01  SALESID0001
                                              15        PG01  SALESID0001
                                              16        PG01  SALESID0001
                                              17        PG01  SALESID0001
                                              18        PG01  SALESID0001
                                              19        PG01  SALESID0001
                                              20        PG01  SALESID0001
                                              21        PG01  SALESID0001
                                              22        PG01  SALESID0001
                                              23        PG01  SALESID0001
                                              24        PG01  SALESID0001
                                              25        PG01  SALESID0001
                                              26        PG01  SALESID0001
                                              27        PG01  SALESID0001
                                              28        PG01  SALESID0001
                                              29        PG01  SALESID0001
...                                                      ...          ...
                                              70        PG01  SALESID0001
                                              71        PG01  SALESID0001
                                              72        PG01  SALESID0001
                                              73        PG01  SALESID0001
                                              74        PG01  SALESID0001
                                              75        PG01  SALESID0001
                                              76        PG01  SALESID0001
                                              77        PG01  SALESID0001
                                              78        PG01  SALESID0001
                                              79        PG01  SALESID0001
                                              80        PG01  SALESID0001
                                              81        PG01  SALESID0001
                                              82        PG01  SALESID0001
                                              83        PG01  SALESID0001
                                              84        PG01  SALESID0001
                                              85        PG01  SALESID0001
                                              86        PG01  SALESID0001
                                              87        PG01  SALESID0001
                                              88        PG01  SALESID0001
                                              89        PG01  SALESID0001
                                              90        PG01  SALESID0001
                                              91        PG01  SALESID0001
                                              92        PG01  SALESID0001
                                              93        PG01  SALESID0001
                                              94        PG01  SALESID0001
                                              95        PG01  SALESID0001
                                              96        PG01  SALESID0001
                                              97        PG01  SALESID0001
                                              98        PG01  SALESID0001
                                              99        PG01  SALESID0001

                                                  regionSeg3 productSeg3  \
regionSeg1 productSeg2 regionSeg3 productSeg3
A01        PG01        SITEID0001 ITEM0001    0   SITEID0001    ITEM0001
                                              1   SITEID0001    ITEM0001
                                              2   SITEID0001    ITEM0001
                                              3   SITEID0001    ITEM0001
                                              4   SITEID0001    ITEM0001
                                              5   SITEID0001    ITEM0001
                                              6   SITEID0001    ITEM0001
                                              7   SITEID0001    ITEM0001
                                              8   SITEID0001    ITEM0001
                                              9   SITEID0001    ITEM0001
                                              10  SITEID0001    ITEM0001
                                              11  SITEID0001    ITEM0001
                                              12  SITEID0001    ITEM0001
                                              13  SITEID0001    ITEM0001
                                              14  SITEID0001    ITEM0001
                                              15  SITEID0001    ITEM0001
                                              16  SITEID0001    ITEM0001
                                              17  SITEID0001    ITEM0001
                                              18  SITEID0001    ITEM0001
                                              19  SITEID0001    ITEM0001
                                              20  SITEID0001    ITEM0001
                                              21  SITEID0001    ITEM0001
                                              22  SITEID0001    ITEM0001
                                              23  SITEID0001    ITEM0001
                                              24  SITEID0001    ITEM0001
                                              25  SITEID0001    ITEM0001
                                              26  SITEID0001    ITEM0001
                                              27  SITEID0001    ITEM0001
                                              28  SITEID0001    ITEM0001
                                              29  SITEID0001    ITEM0001
...                                                      ...         ...
                                              70  SITEID0001    ITEM0001
                                              71  SITEID0001    ITEM0001
                                              72  SITEID0001    ITEM0001
                                              73  SITEID0001    ITEM0001
                                              74  SITEID0001    ITEM0001
                                              75  SITEID0001    ITEM0001
                                              76  SITEID0001    ITEM0001
                                              77  SITEID0001    ITEM0001
                                              78  SITEID0001    ITEM0001
                                              79  SITEID0001    ITEM0001
                                              80  SITEID0001    ITEM0001
                                              81  SITEID0001    ITEM0001
                                              82  SITEID0001    ITEM0001
                                              83  SITEID0001    ITEM0001
                                              84  SITEID0001    ITEM0001
                                              85  SITEID0001    ITEM0001
                                              86  SITEID0001    ITEM0001
                                              87  SITEID0001    ITEM0001
                                              88  SITEID0001    ITEM0001
                                              89  SITEID0001    ITEM0001
                                              90  SITEID0001    ITEM0001
                                              91  SITEID0001    ITEM0001
                                              92  SITEID0001    ITEM0001
                                              93  SITEID0001    ITEM0001
                                              94  SITEID0001    ITEM0001
                                              95  SITEID0001    ITEM0001
                                              96  SITEID0001    ITEM0001
                                              97  SITEID0001    ITEM0001
                                              98  SITEID0001    ITEM0001
                                              99  SITEID0001    ITEM0001

                                                  yearweek  year  week  qty  \
regionSeg1 productSeg2 regionSeg3 productSeg3
A01        PG01        SITEID0001 ITEM0001    0     201301  2013     1    1
                                              1     201302  2013     2    0
                                              2     201303  2013     3    1
                                              3     201304  2013     4    3
                                              4     201305  2013     5    2
                                              5     201306  2013     6    0
                                              6     201307  2013     7    5
                                              7     201308  2013     8    0
                                              8     201309  2013     9    0
                                              9     201310  2013    10    2
                                              10    201311  2013    11    0
                                              11    201312  2013    12    1
                                              12    201313  2013    13    0
                                              13    201314  2013    14    1
                                              14    201315  2013    15    1
                                              15    201316  2013    16    4
                                              16    201317  2013    17    2
                                              17    201318  2013    18    0
                                              18    201319  2013    19    2
                                              19    201320  2013    20    3
                                              20    201321  2013    21    0
                                              21    201322  2013    22    2
                                              22    201323  2013    23    1
                                              23    201324  2013    24    2
                                              24    201325  2013    25    3
                                              25    201326  2013    26    2
                                              26    201327  2013    27    6
                                              27    201328  2013    28    4
                                              28    201329  2013    29    0
                                              29    201330  2013    30    1
...                                                    ...   ...   ...  ...
                                              70    201419  2014    19    0
                                              71    201420  2014    20    0
                                              72    201421  2014    21    0
                                              73    201422  2014    22    0
                                              74    201423  2014    23    0
                                              75    201424  2014    24    0
                                              76    201425  2014    25    0
                                              77    201426  2014    26    0
                                              78    201427  2014    27    0
                                              79    201428  2014    28    0
                                              80    201429  2014    29    0
                                              81    201430  2014    30    0
                                              82    201431  2014    31    0
                                              83    201432  2014    32    0
                                              84    201433  2014    33    0
                                              85    201434  2014    34    0
                                              86    201435  2014    35    0
                                              87    201436  2014    36    0
                                              88    201437  2014    37    0
                                              89    201438  2014    38    0
                                              90    201439  2014    39    1
                                              91    201440  2014    40    0
                                              92    201441  2014    41    0
                                              93    201442  2014    42    0
                                              94    201443  2014    43    0
                                              95    201444  2014    44    0
                                              96    201445  2014    45    0
                                              97    201446  2014    46    0
                                              98    201447  2014    47    0
                                              99    201448  2014    48    0

                                                        MA  seasonality
regionSeg1 productSeg2 regionSeg3 productSeg3
A01        PG01        SITEID0001 ITEM0001    0   1.000000     1.000000
                                              1   0.500000     0.000000
                                              2   0.666667     1.500000
                                              3   1.250000     2.400000
                                              4   1.500000     1.333333
                                              5   1.500000     0.000000
                                              6   2.500000     2.000000
                                              7   1.750000     0.000000
                                              8   1.250000     0.000000
                                              9   1.750000     1.142857
                                              10  0.500000     0.000000
                                              11  0.750000     1.333333
                                              12  0.750000     0.000000
                                              13  0.500000     2.000000
                                              14  0.750000     1.333333
                                              15  1.500000     2.666667
                                              16  2.000000     1.000000
                                              17  1.750000     0.000000

In [77]:
MaData.reset_index(drop = True, inplace = True)

In [78]:
MaData

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty,MA,seasonality
0,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1,1.000000,1.000000
1,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201302,2013,2,0,0.500000,0.000000
2,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1,0.666667,1.500000
3,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3,1.250000,2.400000
4,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2,1.500000,1.333333
5,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201306,2013,6,0,1.500000,0.000000
6,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201307,2013,7,5,2.500000,2.000000
7,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201308,2013,8,0,1.750000,0.000000
8,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201309,2013,9,0,1.250000,0.000000
9,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201310,2013,10,2,1.750000,1.142857
10,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201311,2013,11,0,0.500000,0.000000
11,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201312,2013,12,1,0.750000,1.333333
12,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201313,2013,13,0,0.750000,0.000000
13,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201314,2013,14,1,0.500000,2.000000
14,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201315,2013,15,1,0.750000,1.333333
15,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201316,2013,16,4,1.500000,2.666667
16,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201317,2013,17,2,2.000000,1.000000
17,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201318,2013,18,0,1.750000,0.000000
18,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201319,2013,19,2,2.000000,1.000000
19,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201320,2013,20,3,1.750000,1.714286
20,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201321,2013,21,0,1.250000,0.000000
21,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201322,2013,22,2,1.750000,1.142857
22,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201323,2013,23,1,1.500000,0.666667
23,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201324,2013,24,2,1.250000,1.600000
24,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201325,2013,25,3,2.000000,1.500000
25,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201326,2013,26,2,2.000000,1.000000
26,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201327,2013,27,6,3.250000,1.846154
27,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201328,2013,28,4,3.750000,1.066667
28,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201329,2013,29,0,3.000000,0.000000
29,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201330,2013,30,1,2.750000,0.363636
...,...,...,...,...,...,...,...,...,...,...,...,...
298324,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201550,2015,50,0,0.000000,0.000000
298325,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201551,2015,51,0,0.000000,0.000000
298326,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201552,2015,52,0,0.000000,0.000000
298327,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201601,2016,1,0,0.000000,0.000000
298328,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201602,2016,2,0,0.000000,0.000000
298329,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201603,2016,3,0,0.000000,0.000000
298330,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201604,2016,4,0,0.000000,0.000000
298331,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201605,2016,5,0,0.000000,0.000000
298332,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201606,2016,6,0,0.000000,0.000000
298333,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201607,2016,7,0,0.000000,0.000000
298334,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201608,2016,8,0,0.000000,0.000000
298335,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201609,2016,9,0,0.000000,0.000000
298336,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201610,2016,10,0,0.000000,0.000000
298337,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201611,2016,11,0,0.000000,0.000000
298338,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201612,2016,12,0,0.000000,0.000000
298339,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201613,2016,13,0,0.000000,0.000000
298340,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201614,2016,14,0,0.000000,0.000000
298341,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201615,2016,15,0,0.000000,0.000000
298342,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201616,2016,16,0,0.000000,0.000000
298343,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201617,2016,17,0,0.000000,0.000000
298344,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201618,2016,18,0,0.000000,0.000000
298345,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201619,2016,19,0,0.000000,0.000000
298346,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201620,2016,20,0,0.000000,0.000000
298347,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201621,2016,21,0,0.000000,0.000000
298348,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201622,2016,22,0,0.000000,0.000000
298349,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201623,2016,23,0,0.000000,0.000000
298350,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201624,2016,24,0,0.000000,0.000000
298351,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201625,2016,25,0,0.000000,0.000000
298352,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201626,2016,26,0,0.000000,0.000000
298353,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201627,2016,27,0,0.000000,0.000000

In [79]:
MaData.to_csv("./MaData3.csv")

In [97]:
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

In [81]:
resultname= 'seasonalityMaData'

In [87]:
"aa".upper()

'AA'

In [88]:
MaData.columns.str.upper()

Index(['REGIONSEG1', 'PRODUCTSEG1', 'PRODUCTSEG2', 'REGIONSEG2', 'REGIONSEG3',
       'PRODUCTSEG3', 'YEARWEEK', 'YEAR', 'WEEK', 'QTY', 'MA', 'SEASONALITY'],
      dtype='object')

In [89]:
MaData.columns = MaData.columns.str.upper()

In [91]:
MaData.head(1)

,REGIONSEG1,PRODUCTSEG1,PRODUCTSEG2,REGIONSEG2,REGIONSEG3,PRODUCTSEG3,YEARWEEK,YEAR,WEEK,QTY,MA,SEASONALITY
0,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1,1.0,1.0

In [95]:
resultname = "SEASONALITY_DATA"

In [99]:
MaData.dtypes

REGIONSEG1      object
PRODUCTSEG1    float64
PRODUCTSEG2     object
REGIONSEG2      object
REGIONSEG3      object
PRODUCTSEG3     object
YEARWEEK         int64
YEAR             int64
WEEK             int64
QTY              int64
MA             float64
SEASONALITY    float64
dtype: object

In [103]:
from sqlalchemy import types 
# 데이터 저장
resultname = "SEASONALITYDATA"

to_varchar = {c:types.VARCHAR(MaData[c].str.len().max()) \
        for c in MaData.columns[MaData.dtypes == 'object'].tolist()}

MaData.to_sql(resultname, engine, if_exists='replace', index=False,
                   dtype=to_varchar)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'SEASONALITYDATA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [98]:
MaData.to_sql(resultname,engine,if_exists='replace',index=False)

DatabaseError: (cx_Oracle.DatabaseError) ORA-12170: TNS:Connect timeout occurred (Background on this error at: http://sqlalche.me/e/4xp6)